html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 50px;
    color: #b368aa;
    text-align: center;
}

h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #b368aa;
    text-align: center;
}

table {
    padding-top: 50px;
    color: #b368aa;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-bottom: 10px;
}

a:link {
    color: #b368aa;
}

a:visited {
    color: #663b61;
}

a:active {
    color: #ff94f2;
}

body {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: sans-serif;
}

.content-wrapper {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.0));
    padding-bottom: 5%;
}

.content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10px;
}

@media screen and (max-width: 800px) {
    .content-s {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content-wrapper-s {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.2));
        padding-bottom: 5%;
    }
}