html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 50px;
    color: #a3569a;
    text-align: center;
}

h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #a3569a;
    text-align: center;
}

table {
    padding-top: 50px;
    color: #a3569a;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-bottom: 10px;
}

a:link {
    color: #a3569a;
}

a:visited {
    color: #663b61;
}

a:active {
    color: #ff94f2;
}

body {
    background-image: url("./images/background.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: sans-serif;
    color: whitesmoke;
}

.content-wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.0));
    padding-bottom: 5%;
}

.content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10px;
}

.social-media {
    padding-top: 25px;
    padding-bottom: 50px;
}

.social-media-glyph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 800px) {
    .content-s {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content-wrapper-s {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
        padding-bottom: 5%;
    }
}